$colors = {
  // strict styleguide
  primary: #ff003f,
  secondary: #404e5c,
  black: #111111,
  active: #ff003f,
  accent1: #83f785,
  accent2: #f79256,
  accent3: #ca2121,

  // based on styleguide
  disabled: #f0f0f0,

  middleGray: #d8d8d8,
  veryDarkGray: #979797,
  darkestGray: #767676,
  // custom
  // based on design
  backgroundGray: #f0f3f6,
  gray: #e6e6e6,
  darkGray: #666666,
  activeGray: #888,
  passiveGray: #b0b2b5,
  blue: #5cc8ff,
  blueFacebook: #3b5998,
  white: #ffffff,
  darkRed: #b3002c,
  errorRed: #c82725,
  pink: #fc406a
}
