.root
  height auto
  min-height 100%
  position relative
  background-color #f2f5f7

textarea, input, button
  &:focus
    outline none

a
  color #111
  text-decoration none
  
body
  overflow-y scroll