/*@font-face {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}*/

body
  font-family 'Gotham SSm A', 'Helvetica', sans-serif // 'Gotham SSm B' condensed alternative
